div{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button{
    display: block;
    width: 100%;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    width: 100px;
    height: 100px;
}
section{
    display: grid;
    grid-template-columns: 20% 80%;
}
#player_battle{
    display: grid;
    >#moves{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}